@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

#logo {
    width: auto;
    height: 40px;
}

header {
    background-color: #f9f6f1;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

header h1 {
    font-size: 1rem;
    font-weight: bold;
}

footer {
    background-color: #212529;
    color: #f9f6f1;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1rem;
}

footer ul li {
    color: #cdbda8;
}

/* SM - Móvil horizontal (576px+) */
@media (min-width: 576px) {
    #logo {
        height: 42px;
    }
    header h1 {
        font-size: 1.25rem;
    }
}

/* MD - Tablet (768px+) */
@media (min-width: 768px) {
    #logo {
        height: 45px;
    }
    header h1 {
        font-size: 1.50rem;
    }
}

/* LG - Desktop (992px+) */
@media (min-width: 992px) {
    #logo {
        height: 48px;
    }
    header h1 {
        font-size: 1.75rem;
    }
}

/* XL - Desktop grande (1200px+) */
@media (min-width: 1200px) {
    #logo {
        height: 50px;
    }
}

/* XXL - Desktop extra grande (1400px+) */
@media (min-width: 1400px) {
    #logo {
        height: 52px;
    }
}